<h1>Create New Contact</h1>

<form id="createNewForm">
  <div>
    <label>
      First Name:
    </label>
    <input
      type="text"
      name="first_name"
      placeholder="first name"
      [(ngModel)]="newContact.first_name"
    />
  </div>
  <div>
    <label>
      Last Name:
    </label>
    <input
      type="text"
      name="last_name"
      placeholder="last name"
      [(ngModel)]="newContact.last_name"
    />
  </div>
  <div>
    <label>
      Email:
    </label>
    <input
      type="text"
      name="email"
      placeholder="email address"
      [(ngModel)]="newContact.email"
    />
  </div>
  <div>
    <label>
      Mobile:
    </label>
    <input
      type="text"
      name="mobile"
      placeholder="(XXX)-XXX-XXX"
      [(ngModel)]="newContact.mobile"
    />
  </div>
  <div>
    <label>
      Work:
    </label>
    <input
      type="text"
      name="work_phone"
      placeholder="(XXX)-XXX-XXX"
      [(ngModel)]="newContact.work_phone"
    />
  </div>
  <div>
    <label>
      Home:
    </label>
    <input
      type="text"
      name="work_phone"
      placeholder="(XXX)-XXX-XXX"
      [(ngModel)]="newContact.work_phone"
    />
  </div>
  <div>
    <label>
      Notes:
    </label>
    <input
      type="text"
      name="notes"
      placeholder=""
      [(ngModel)]="newContact.notes"
    />
  </div>
  <button (click)="createNew()">Submit</button>
</form>
